h1,
h2,
h3 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: green;
  font-family: "Times New Roman", Times, serif;
}

li {
  margin-bottom: 10px;
  color: burlywood;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.recipes-list {
  width: 500px;
  margin: 0 auto;
}

.recipes-list li {
  display: inline;
}

a {
  font-size: 18px;
}
